{% extends "base.html" %}

{% load static %}

{% block content %}

{% for article in articles %}
<div class="container-fluid border">
    <row>
        <div class="col-md-12 p-3">
            <div class="card">
                <div class="card-header ">
                    <div class='d-flex flex-row '>
                        <div class="text-center border" style="border-radius:50%; !important;">
                            <img src="{% static "images/logo.png" %}" class="rounded " alt="..." style='height:50px; width:50px; border-radius:50%; !important;'>
                        </div>
                        <div class="ps-5">
                            <p>
                                <a href="{% url 'profile' user.id%}" class="text-dark ">{{article.author}}</br>{{request.user.get_full_name}}</a>
                            </p>
                        </div>
                        <div class="btn-group-vertical ms-auto" role="group" aria-label="Vertical button group">
                            <div class="btn-group dropstart" role="group">
                              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Article Settings
                              </button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'update' article.pk %}">Update</a></li>
                                <li><a class="dropdown-item" href="{% url 'delete' article.pk %}">Delete</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5>
                        <a href="{% url 'read-article' article.slug %}" class="text-dark">{{article.title}}</a>
                    </h5>
                </div>
                <div class="card-footer text-body-secondary">
                    <div class='d-flex flex-row   justify-content-between'>
                        <p>
                            <a href="{% url 'read-article' article.slug %}" class="btn btn-outline-primary ">Read</a>
                        </p>
                        <p>
                            <a href="{% url 'comment' article.slug %}" class="link-underline-secondary"><i class="fa-solid fa-comment"></i>Comment</a>
                        </p>
                        <p>{{article.created_at}}</p>
                    </div>
                </div>
            </div>
        </div>
    </row>
</div>

<!-- Modal -->


    {%endfor %}
{% endblock content %}

{% block contentright %}

{% endblock contentright %}