{% extends "base.html" %}

{% load static %}

{% block content %}

{% if article_read %}

<div class="container-fluid border">
    <row>
        <div class="col-md-12 p-3">
            <div class="card mb-3">
                <div class="card-header d-flex flex-row">
                    <div class="text-center border" style="border-radius:50%; !important;">
                        <img src="{% static "images/logo.png" %}" class="rounded " alt="..." style='height:50px; width:50px; border-radius:50%; !important;'>
                    </div>
                    <p class="card-text ps-3">{{article_read.author.get_full_name}}</br>@{{article_read.author}}</p>
                </div>
                {% if article_read.image %}
                <img src="{{article_read.image.url }}" class="card-img-top" alt="...">
            
                <div class="card-body">
                    <h5 class="card-title">{{article_read.title}}</h5>
                    <p class="card-text">{{article_read.content}}</p>
                </div>
                <div class="card-footer text-body-secondary d-flex flex-row">
                
                    <a href="{% url 'comment' article_read.slug %}"><p class="card-text ps-5"><i class="fa-solid fa-comment"></i>Comment</p></a>
                    <p class="card-text ps-5"><small class="text-body-secondary">{{article_read.created_at}} </small></p>
                </div>
                {% else %}
                <div class="card-body">
                    <h5 class="card-title">{{article_read.title}}</h5>
                    <p class="card-text">{{article_read.content}}</p>
                </div>
                <div class="card-footer text-body-secondary d-flex flex-row  ">
                    <a href="{% url 'comment' article_read.slug %}"><p class="card-text ps-5"><i class="fa-solid fa-comment"></i>Comment</p></a>
                    <p class="card-text ps-5"><small class="text-body-secondary">{{article_read.created_at}} </small></p>
                </div>
                {% endif%}
            </div>
        </div>
    </row>
</div>

<!-- Modal -->


    {%endif %}
{% endblock content %}

{% block contentright %}

{% endblock contentright %}